/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgba(238, 77, 75, 0.4);
 
}


/* _________nav_________ */


/*
    Goals: 
      1) mobile media queries
      2) hamburger nav
      3) 
*/

 /* display: flex; */
  /* display: grid;
  grid-template-columns: 1fr repeat(3,auto);
  grid-gap: .5rem;
  justify-items: start;
   */


ul {
  display: grid;
  grid-template-columns: 1fr repeat(3,auto);
  grid-gap: .5rem;
  justify-items: start;
  background-color:rgba(238, 77, 75, 0.4);
  border-bottom: #eee 1px solid;
  list-style-type: none;
  padding: .5rem .5rem;

}


ul a {
  pointer-events: none;
  display: block;
  background-color:none;
  border-radius: 1rem;
  color: #eee;
  margin: .2rem 0;
  padding: .25rem 1rem;
  text-decoration: none;
  transition: all 200ms ease;
}

ul input[type="radio"] {
  display: none; 
}

ul input[type="radio"]:checked + a {
  background-color: rgba(255, 0, 0,.4);
}


/* _________Main_________ */

main {
  display: grid;
  justify-items: center;
  padding: 1rem;
}

main h1 {
  color:#505050;
}

main h2 {
  color: rgba(238, 238, 238, 0.742);
} 

.main-header {
  display: grid;
  justify-content: center;
}

/* _________Cards_________ */

.card {
  border: 1px rgba(238, 238, 238, 0.742) solid;
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  min-height: 30vh;
  padding: 1rem;
  margin:1rem;
}

.card_body {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 3fr repeat(2,1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  
}

.box{
  
  background-color:rgba(255, 0, 1,.6);
  display: inline;
  border: 1px #ccc solid;
  border-radius: 2rem;
  padding: 1rem;
}


/* _________SPECIFIC_Cards_________ */

.card_one {

}

.card_two {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}
 
.card_three {
  
}



@media(max-width: 400px) {
 
ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;  
  align-items: center;
}

ul a {
  display: block;
}
 
}