

body {
  background-color: rgba(225,255,255,.5);
  font-family: Helvetica, Arial, sans-serif
}



/* HEADER */
header{
  text-align: center;
  min-height: 60vh;
}

/* MAIN CONTENT */
main{
  text-align: center;
  min-height: 60vh;
}

/* FOOTER */
footer {
 text-align: right;
  min-height: 60vh;
}