
/* ENDGAME:  https://123movieshub.info/avengers-endgame-2019/ */




/* RESOURCES 

-MDN

Instagram:
  - fmondev
  - samanthaming

Youtube/Udemey
  - Brad Traversy
  - TechSith
  - Andrew Mead


*/


/* GOALS 
1) Better understanding of flexbox/CSSgrid
-) Transitions/CSS animations
-) image gallery
-) positioning 

*/







body {
  background-color: rgba(225,255,255,.5);
  font-family: Helvetica, Arial, sans-serif
}



/* HEADER */
header{
  border-bottom: 1px #ccc solid;
  min-height: 60vh;
  text-align: center;
}

header h1 {
  border-bottom: 1px #ccc solid;
  padding: 1rem;
}

/* MAIN CONTENT */
main{
  text-align: center;
  min-height: 60vh;
}

ul a {
  pointer-events: none;
  display: block;
  color: #9f9fa0;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  transition: all 200ms ease;
}

ul input[type="radio"] {
  /* display: none; */
}

ul input[type="radio"]:checked + a {
  background-color: red;
}

/* FOOTER */
footer {
  border-top: 1px #ccc solid;
 text-align: right;
  min-height: 60vh;
}